/* .top-bar {
     display: flex; 
     justify-content: space-between; 
     align-items: center; 
    background-color: #010a13;
    padding: 0.5rem;
    color: #fff;
  }
  
  .logo {
    margin: 0;
  }
  
  .form-group {
    margin-bottom: 0;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  input[type="date"] {
    margin-right: 0.5rem;
  }
  
  .error {
    color: red;
    margin-left: 1rem;
  }
  
  button[type="submit"] {
    margin-left: 1rem;
  }
   */

   .form1{
    display: flex;
   }